
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
*.log
coverage/
*.g.dart
*.freezed.dart
*.mocks.dart
.env
.env.*
.pub-cache/
test/.dart_tool/